*{ margin: 2px 3px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar-logo{
    margin-top: 10px;
    max-width: 75px;
}

a{
    margin: 25px;
    padding: 25px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}
button{
    padding: 15px;
    border-radius: 100px;
}

.headingTab{
    width:60%;
}

.heading{
    font-size: 60px;
    display:flex;
    flex-wrap: wrap;
    font-weight: 500;
    margin-top: 4rem;
}